body{
	background-color: rgb(116,203,184);
}
.content{
	width:32%;
	height:40%;
	/*内容居中*/
	text-align:center;
	/*div居中*/
	margin:0 auto;
	/*垂直居中*/
	 position: absolute;
     top:50%;
     left:50%;
    transform:translate(-50%,-50%);
}
.content-top{
	color:#fff;
	font-size:50px;
	font-family: Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;  
}
.content-center{
	margin-top:40px;
}
.login{
	font-size:22px;
	color:#fff;
	padding:4px;
	height:60px;
}
.login-content input{
	height:40px;
	width:280px;
	border-radius:6px;
	border:1px solid #fff;
	margin-left:5px;
	font-size:22px;
	color:rgb(116,203,184);
	margin-bottom:2px;
}
.login-button input{
	height:47px;
	width:285px;
	border-radius:6px;
	margin-top:20px;
	margin-left:70px;
	font-size:20px;
	background-color:#fff;
	color:rgb(116,203,184);
	border:1px solid #fff;
}
.login label{
	font-size:14px;
	color:red;
}