*{
	margin:0;
	padding:0;
}
.header{
	background-color:rgb(116,203,184);
}
.header ul{
	margin-left:20px;
	list-style:none;
}

li{
	width: 100%;
	height: 70px;
	line-height: 70px;
}
.title{
	font-size:35px;
	color:#fff;
	vertical-align:middle;
	margin-left:50px;
}
li img{
	vertical-align:middle;
	float:right;
}
.name{
	font-size:16px;
	font-weight:900;
	color:#fff;
	vertical-align:middle;
	margin-left:10px;
	float:right;
	margin-right:70px;
}
.content{
	margin-top:10px;
}
.content-left{
	width:13%;
	float:left;
	height:500px;
	border:solid 1px rgb(245,245,245);
}
.content-right{
	width:80%;
	float:left;
	height:500px;
	margin-left:20px;
}
.search{
	 width:100%;
	 height:120px;
	 border:solid 1px rgb(116,203,184);
}
.search .search-title{
	width:100%;
	height:40px;
	background-color:rgb(116,203,184);
	color:#fff;
	font-size:16px;
	line-height:40px;
}
.search .search-title .cxtj{
	margin-left:20px;
}

.search-content{
	padding-left:200px;
	padding-top:20px;
	font-size:15px;
}
.search-content input{
	margin-left:20px;
	height:30px;
	width:250px;
	font-size:14px;
}
.search-content .btn{
	margin-left:200px;
	height:32px;
	width:100px;
	background-color:rgb(116,203,184);
	color:#fff;
}
.userlist{
	 width:100%;
	 height:500px;
	 border:solid 1px rgb(116,203,184);
	 margin-top:20px;
}
.userlist .userlist-title{
	width:100%;
	height:40px;
	background-color:rgb(116,203,184);
	color:#fff;
	font-size:16px;
	line-height:40px;
}
.userlist .userlist-title .yhlb{
	margin-left:20px;
}
.content table{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:96%;
    border-collapse:collapse;
    margin:0 auto;
    margin-top:10px;
}

.content table th,td{
 	font-size:1em;
 	border:1px solid rgb(116,203,184);
 	padding:3px 7px 2px 7px;
  }
.content table th{
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
}

.nav-left{
	width:13%;
	height:500px;
	border:solid 1px rgb(245,245,245);
	margin-top:10px;
	float:left;
}
.nav-left-main{
	margin-top:20px;
}
.nav-left-main .nav-left-title{
	width:100%;
	height:30px;
	vertical-align:middle;
	margin-top:5px;
	margin-left:20px;
	font-size:15px;
}
.nav-left-main .nav-left-title img{
	margin-right:10px;
}
.nav-left-main .nav-left-title .btn{
	margin-left:90px;
}
.nav-left-content{
	margin-left:53px;
	font-size:15px;
}
.nav-left-content ul{
	list-style:none;
}
.nav-left-content li{
	height:35px;
	line-height:35px;
}
.nav-left-content a{
	text-decoration:none;
}
.nav-left-content{
	display:block;
}
.nav-right img{
	width:80%;
	height:100%;
	float:left;
	margin-left:40px;
	margin-top:150px;
}


